[
    {
        "name": "FLASK_APP",
        "value": "todo_app/app"
    }, {
        "name": "FLASK_DEBUG",
        "value": false
    }, {
        "name": "SECRET_KEY",
        "value": "fake-secret-key"
    }, {
        "name": "DB_CONNECTION_STRING",
        "value": "mongodb://fakemongo.com"
    }, {
        "name": "DB_COLLECTION",
        "value": "testcollection"
    }, {
        "name": "DB_TABLE",
        "value": "testtablename"
    }, {
        "name": "WEBSITES_PORT",
        "value": 5000
    }
]