[
    {
        "name": "FLASK_APP",
        "value": "todo_app/app"
    }, {
        "name": "FLASK_DEBUG",
        "value": false
    }, {
        "name": "SECRET_KEY",
        "value": "fake-secret-key"
    }, {
        "name": "TRELLO_API_KEY",
        "value": "TESTINGAPIKEY"
    }, {
        "name": "TRELLO_API_TOKEN",
        "value": "TESTINGAPIKEYTOKEN"
    }, {
        "name": "TRELLO_BOARD_ID",
        "value": "BOARD_ID"
    }, {
        "name": "TRELLO_BOARD_LIST_ID_TODO",
        "value": "BOARD_LIST_ID_TODO"
    }, {
        "name": "TRELLO_BOARD_LIST_ID_DONE",
        "value": "BOARD_LIST_ID_DONE"
    }, {
        "name": "WEBSITES_PORT",
        "value": 5000
    }
]
