{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List items in todo list -->
        <h3>To Do:</h3>
        {% for itm in todoitems %}
          <li>
            <form action="{{ url_for('updateItem') }}" method="post" class="form-example">
              {{ itm.name }}
              <input type="hidden" name="item_id" value="{{ itm.id }}">
              <input type="hidden" name="item_source" value="todo">
              <input type="submit" value="Set as Completed" /> 
            </form>
          </li>

        {% endfor %}
        <h3>Completed:</h3>
        {% for itm in doneitems %}
        <li>
          <form action="{{ url_for('updateItem') }}" method="post" class="form-example">
            {{ itm.name }}
            <input type="hidden" name="item_id" value="{{ itm.id }}">
            <input type="hidden" name="item_source" value="done">
            <input type="submit" value="Set as To Do" /> 
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Form to add an additional item -->
    <div>
      <form action="" method="post" class="form-example">
        <div>
          <label for="newitem">Enter new item: </label>
          <input type="text" name="newitem" id="newitem" required />
        </div>
        <div>
          <input type="submit" value="Add New Item" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}